body {
background-color: #000000;
color: white;
font-family: Arial, sans-serif;
text-align: center;
padding: 30px;
margin: 0;
}

h1 {
color: #00bfff;
margin-bottom: 10px;
}

p {
margin-bottom: 20px;
}

.box {
background-color: #111111;
padding: 15px;
margin: 15px auto;
width: 90%;
max-width: 400px;
border-radius: 8px;
}

input, select {
width: 90%;
padding: 8px;
margin-top: 8px;
border-radius: 4px;
border: none;
}

ul {
text-align: left;
}

.paiement {
border: 2px solid #25D366;
}

button {
background-color: #25D366;
color: white;
padding: 12px 25px;
border: none;
border-radius: 5px;
font-size: 16px;
cursor: pointer;
margin-top: 20px;
}

button:hover {
background-color: #1ebe57;
}