/* Style body paj la */
body {
background-color: #f2f2f2; /* fond gri klè */
font-family: 'Roboto', Arial, sans-serif;
text-align: center; /* Santre tout tèks yo */
padding-top: 50px;
}

/* Tit (h1) */
h1 {
color: #1a73e8; /* ble */
font-size: 36px;
}

/* Paragraf */
p {
color: #000000;
font-size: 20px;
}

/* Bouton WhatsApp */
.whatsapp-button {
display: inline-block;
background-color: #25D366; /* koulè vèt WhatsApp */
color: white;
padding: 10px 20px;
text-decoration: none;
border-radius: 5px;
font-weight: bold;
margin-top: 20px;
}

.whatsapp-button:hover {
background-color: #1ebe57;
}
/* Style pou imaj nan site la */
img {
display: block; /* fè imaj la pran liy antye */
margin: 20px auto; /* santre imaj la epi mete espas anlè/ anba */
max-width: 80%; /* imaj pa depase 80% nan ekran */
height: auto; /* kenbe pwopòsyon imaj la */
border-radius: 10px; /* kwen imaj yo awondi */
box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* ajoute ti lonbraj bèl */
}